[Unit]
Description=ZPanel Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/ZPanel/
ExecStart=/usr/local/ZPanel/sui
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target